*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

body {
    line-height: 1;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}
.car {
    // .car__container

    &__container {
        margin-top: 20px;
    }

    // .car__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    // .car__item

    &__item {
        padding: 5px;
        border: 3px solid transparent;
        transition: border 0.3s ease 0s;
        border-radius: 15px;
        &:hover {
            transition: border 0.3s ease 0s;
            border: 3px solid black;
        }
    }

    // .car__block

    &__block {
        display: flex;
        gap: 30px;
    }

    // .car__image-block

    &__image-block {
        img {
            width: 380px;
            height: 250px;
        }
    }

    // .car__info-car

    &__info-car {
    }
}
.car-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // .car-info__title

    &__title {
        font-size: 24px;
        color: #000;
    }

    // .car-info__price-block

    &__price-block {
        font-size: 22px;
        display: flex;
        gap: 15px;
    }

    // .car-info__price-usd

    &__price-usd {
        color: green;
    }

    // .car-info__price-uah

    &__price-uah {
    }

    // .car-info__sub-info

    &__sub-info {
        font-weight: 600;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 10px;
    }

    // .car-info__kilometer

    &__kilometer {
    }

    // .car-info__gas

    &__gas {
    }

    // .car-info__location

    &__location {
    }

    // .car-info__transmission

    &__transmission {
    }
}
.filtered-block {
    // .filtered-block__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .filtered-block__item

    &__item {
    }

    // .filtered-block__item-chx

    &__item-chx {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .filtered-block__reset-btn

    &__reset-btn {
        border-radius: 5px;
        border: 1px solid rgb(28, 205, 28);
        background-color: rgb(28, 205, 205);
        color: #000;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.block__container {
    display: flex;
    gap: 30px;
}
.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}
